.my-nav {
    position: absolute;
    z-index: 10;
    width: 100%;
    background-color: #e9ffbd4d;
  }
  .my-nav .container a:hover{
    background-color: #103f3c;
    color: aliceblue;
  }
  .carousel-item {
    height: 100vh;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100%;
  }
  body {
    background-color: rgb(13, 13, 81);
  }
  